{% extends 'base.html.twig' %}

{% block title %}ScheduledActivity index{% endblock %}

{% block body %}
    <h1>ScheduledActivity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begin</th>
                <th>End</th>
                <th>Name</th>
                <th>StudentGroup</th>
                <th>Lecturer</th>
                <th>Room</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scheduled_activity in scheduled_activities %}
            <tr>
                <td>{{ scheduled_activity.id }}</td>
                <td>{{ scheduled_activity.Begin ? scheduled_activity.Begin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ scheduled_activity.End ? scheduled_activity.End|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ scheduled_activity.Name }}</td>
                <td>{{ scheduled_activity.StudentGroup }}</td>
                <td>{{ scheduled_activity.Lecturer }}</td>
                <td>{{ scheduled_activity.Room }}</td>
                <td>
                    <a href="{{ path('scheduled_activity_show', {'id': scheduled_activity.id}) }}">show</a>
                    <a href="{{ path('scheduled_activity_edit', {'id': scheduled_activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scheduled_activity_new') }}">Create new</a>
{% endblock %}
