{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begin</th>
                <th>End</th>
                <th>Name</th>
                <th>StudentGroup</th>
                <th>Lecturer</th>
                <th>Room</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Activity in scheduled_activities %}
            <tr>
                <td>{{ Activity.id }}</td>
                <td>{{ Activity.Begin ? Activity.Begin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Activity.End ? Activity.End|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Activity.Name }}</td>
                <td>{{ Activity.StudentGroup }}</td>
                <td>{{ Activity.Lecturer }}</td>
                <td>{{ Activity.Room }}</td>
                <td>
                    <a href="{{ path('Activity_show', {'id': Activity.id}) }}">show</a>
                    <a href="{{ path('Activity_edit', {'id': Activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Activity_new') }}">Create new</a>
{% endblock %}
