{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Begin</th>
                <th>End</th>
                <th>Room</th>
                <th>Course</th>
                <th>Division</th>
                <th>Tutor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.Begin ? activity.Begin|date('Y-m-d H:i') : '' }}</td>
                <td>{{ activity.End ? activity.End|date('Y-m-d H:i') : '' }}</td>
                <td>{{ activity.Room }}</td>
                <td>{{ activity.Course }}</td>
                <td>{{ activity.Division }}</td>
                <td>{{ activity.Tutor }}</td>
                <td>
                    <a href="{{ path('activity_show', {'id': activity.id}) }}">Pokaż</a>
                    <a href="{{ path('activity_edit', {'id': activity.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activity_new') }}">Dodaj nowe</a>
{% endblock %}
