{% extends 'base.html.twig' %}

{% block title %}Tutor{% endblock %}

{% block body %}
    <h1>Tutor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutor.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ tutor.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ tutor.LastName }}</td>
            </tr>
            <tr>
                <th>Degree</th>
                <td>{{ tutor.Degree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tutor_index') }}">back to list</a>

    <a href="{{ path('tutor_edit', {'id': tutor.id}) }}">edit</a>

    {{ include('tutor/_delete_form.html.twig') }}
{% endblock %}
